<div style="margin: auto;width: 300px;height: 300px;margin-top: 100px;">
    <div>count : {{count$ | async }}</div>
    <button (click)="onClickIncrease()">increase</button>
    <button (click)="onClickDecrease()">decrease</button>
    <button (click)="onClickReset()">reset</button>
    <div>
        <button (click)="onClickGoto()">go to page 2</button>
    </div>
</div>
<div>
    <button (click)="onSetCookie()">set cookie</button>
    <button (click)="onGetCookie()">get cookie</button>
    <button (click)="onCallService()">call service </button>
</div>
<div>test pipe : {{data1 | number: 'test'}}</div>