<div class="root">
    <p-card class="card-login" header="Login">
        <form class="card-content-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <span class="p-username-label">
                <label for="username-input">Username</label>
                <input id="username-input" type="text" pInputText formControlName="username">
            </span>
            <span class="p-password-label">
                <label for="password-input">Password</label>
                <input id="password-input" type="password" pInputText formControlName="password">
            </span>
            <button pButton type="submit" label="submit" [disabled]="!loginForm.valid"></button>
            <div class="con-register">
                <span class="txt-register" (click)="onClickRegister()">register</span>
            </div>
        </form>
    </p-card>
    <p-toast position="top-right"></p-toast>
</div>